<footer class="site-footer" id="contacts">

  <div class="wrapper">
</br>
    <h2 class="footer-heading">{% if page.layout == "home" %}Contactos{% endif %}{% if page.layout == "home_en" %}Contacts{% endif %}</h2>

    <div class="footer">

        <h3 class="contact-list">
<li>
            {% if site.email %}
            Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          
          </h3>
          <img src="/images/rhodium_emblem.png" alt="Rhodium Advisors logo.">    
    </div>
    

  </div>

</footer>
