---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  color: #fff;
  background-color: #182E53;
  overflow-x: hidden;
}

a:hover {
  color: #ae2ae2;
}

.site-header {
  background-color: #000514;
  border-bottom: 1px solid #9b9b9b;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.site-title, .site-title:visited {
  color: #fff;
  font-size: 36px;
}

.site-footer {
  border-top: 1px solid #9b9b9b;
  background-color: #000514;
}

.footer-heading {
  font-size: 24px;
}

.box-container {
  display: block;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  text-align: center;

  .box {
    padding-top: 40px;
    padding-bottom: 40px;

    &:nth-child(2n-1) {
      background-color: #182E53;
    }
    &:nth-child(2n-2) {
      background-color: #253D63;
    }
  }
}

.final-box, .logo-box {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #031028;
}

.page-content {
  padding: 0;
}

.cta {
  height:auto;
  padding-top: 25px;

  button {
    align-items: center;
    background: #031028;
    border: 0.5px solid #EFBF04;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #fff;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
}

.site-title img {
  width: 50px;
  padding: 10px;
}

.site-nav .page-link {
  color: #fff;
  img {
    height: 20px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .site-header {
    padding: 10px;
    margin-left: -10px;
  }

  .site-title img {
    width: 50px;
    padding: 0px;
  }

  .site-nav {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    padding-bottom: 5px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav .page-link {
    display: block;
    color: #000;
    margin-left: 0px;
    padding: 5px 5px;
    img {
      height: 15px;
      padding-right: 5px;
    }
  }
}

.footer{
  h3{
    position: relative;
  }

  img {
    float: right;
    width: 100px;
    margin-top: -100px;
  }
}