---
layout: default
---

<div class="home">
    <div class="box-container">
        <div class="box"><div class="wrapper">
            <h1>CONTACTOS</h1> 
            Como ecossistema colaborativo, potenciamos as melhores valências de cada parceiro para complementar as nossas, transformando a concorrência tradicional num poderoso aliado estratégico.<br>
        </div></div>
        <div class="box"><div class="wrapper">
            <h2>SOLICITE UMA CONSULTA</h2>
            Navegamos fora do radar para trazer à luz negócios exclusivos, estejam ou não visíveis no mercado.<br>
            O nosso compromisso é ligar o seu objetivo ao ativo certo.<br><br>
            <div class="form">
                <form action="https://form.taxi/s/o03oiocf" method="POST" id="contact_form">
                    <input type="text" name="Name" placeholder="Nome Completo" required>
                    <input type="email" name="Email" placeholder="Email" required><br>
                    <input type="tel" name="Phone" placeholder="Telemóvel">
                    <select name="Language" form="contact_form" required>
                        <option value="" disabled selected hidden>Que idioma prefere falar?</option>
                        <option value="English">Inglês</option>
                        <option value="Portugues">Português</option>
                    </select><br>
                    <textarea name="Message" placeholder="Mensagem Adicional"></textarea>
                    <input type="text" name="Area" style="display:none" tabindex="-1" autocomplete="off">
                </form>
                <div class="cta"><button type="submit" form="contact_form" role="button" value="Submit">Contacte-nos</button></div>
            </div>
        </div></div>
    </div>
</div>