---
layout: default
---

<div class="home">
    <div class="box-container">
        <div class="box"><div class="wrapper">
            <h1>CONTACTS</h1> 
            As a collaborative ecosystem, we leverage each partner’s strengths to complement our own, transforming traditional competition into a powerful strategic ally.<br>
        </div></div>
        <div class="box"><div class="wrapper">
            <h2>REQUEST A CONSULTATION</h2>
            We operate under the radar to uncover exclusive deals, whether or not they are visible on the market.<br>
            Our commitment is to match your goal with the right asset.<br><br>
            <div class="form">
                <form action="https://form.taxi/s/o03oiocf" method="POST" id="contact_form">
                    <input type="text" name="Name" placeholder="Full Name" required>
                    <input type="email" name="Email" placeholder="Email" required><br>
                    <input type="tel" name="Phone" placeholder="Phone">
                    <select name="Language" form="contact_form" required>
                        <option value="" id="language_placeholder" disabled selected hidden>What language would you prefer speaking?</option>
                        <option value="English">English</option>
                        <option value="Portugues">Portuguese</option>
                    </select><br>
                    <textarea name="Message" placeholder="Aditional Message"></textarea>
                    <input type="text" name="Area" style="display:none" tabindex="-1" autocomplete="off">
                </form>
                <div class="cta"><button type="submit" form="contact_form" role="button" value="Submit">Contactus Us</button></div>
                <script> if (navigator.userAgent.match(/Mobile/)) { document.getElementById('language_placeholder').innerHTML = "Language"; };</script>
            </div>
        </div></div>
    </div>
</div>