---
layout: default
---

<div class="home">
    <div class="box-container">
        <div class="logo-box"><div class="wrapper">
            <img src="/images/rhodium_full.png" alt="Rhodium Advisors logo.">
        </div></div>
        <div class="box"><div class="wrapper">
            <h2>QUEM SOMOS</h2> 
            Um grupo multidisciplinar focado em ir além do óbvio.<br>
            Mais do que consultores, somos parceiros estratégicos determinados a antecipar cenários e a garantir as melhores oportunidades para os nossos clientes.<br>
            <div class="cta"><button onclick="window.scrollTo({top:9999, behavior:'smooth'})" role="button">Contacte-nos</button></div>
        </div></div>
        <div class="box"><div class="wrapper">
            <h2>O QUE FAZEMOS</h2>
            Navegamos fora do radar para trazer à luz negócios exclusivos, estejam ou não visíveis no mercado.<br>
            O nosso compromisso é ligar o seu objetivo ao ativo certo.
            <div class="cta"><button onclick="window.scrollTo({top:9999, behavior:'smooth'})" role="button">Saber Mais</button></div>
        </div></div>
        <div class="box"><div class="wrapper">
            <h2>COMO FAZEMOS</h2> 
            Na Rhodium Advisors, combinamos uma visão integrada com um alcance transversal, que agrega diferentes agências do setor para garantir transações céleres e seguras.
            <div class="cta"><button onclick="window.scrollTo({top:9999, behavior:'smooth'})" role="button">Info</button></div>
        </div></div>
        <div class="box"><div class="wrapper">
            <h2>O QUE NOS DISTINGUE</h2>
            Como ecossistema colaborativo, potenciamos as melhores valências de cada parceiro para complementar as nossas, transformando a concorrência tradicional num poderoso aliado estratégico.
            <div class="cta"><button onclick="window.scrollTo({top:9999, behavior:'smooth'})" role="button">Contactos</button></div>
        </div></div>
        <div class="final-box"><div class="wrapper">
            <h1>Mais notícias em breve!</h1>
        </div></div>
    </div>
</div>